.titulo{
    text-align: center;
}

.desc{
    text-align: center;
}

.rounded{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.previews{
    padding-left: 50px;
    padding-right: 50px;
}

.vid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
}